.workable-post-space {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 32px;
}
.post-title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.post-form {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    background-color: rgb(200,200,200);
    border-radius: 12px;
    padding: 12px;
}
.blog-title {
    font-size: 20px;
    font-weight: 500;
}
.blog-body {
    font-family: inherit;
    font-size: 18px;
    resize: none;
    scroll-behavior: smooth;
    height: 250px;
    margin-top: 12px;
}
.submit-button {
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: green;
    cursor: pointer;
    width: 120px;
    height: 36px;
    border-radius: 8px;
    align-self: center;
}